.wrapper {
  margin: 0 96px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5f5f5;
}

.list {
  display: flex;
  align-items: center;
  .link {
    margin: 1px 24px 1px 0;
    font-family: OpenSans;
    font-size: 24px;
    color: #255296;
    text-decoration: none;
  }
}

.logo {
  img {
    height: 114px;
    width: 82px;
  }
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 24px;

  .list {
    gap: 10px;
    a {
      margin-right: 15px;
      color: #5e5e5e;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
}
